.image {
    width: 15rem;
    height: auto;
    margin-left: 37rem;
    margin-top: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.card {
    background-color: #98d5d8;
    color: #333333;
    text-align: center;
    font-size: 20px;
    color: rgb(28, 27, 27);
}