.image {
    width: 15rem;
    height: auto;
    margin-left: 20rem;
}

.content {
    width: 40rem;
    height: auto;
    margin-bottom: 20px;
    margin-left: 21rem;
    text-align: center;
    margin-top: 5rem;
}