
.contact-section {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .contact-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .contact-section p {
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .contact-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-left: 30rem;
  }
  
  .contact-section li {
    margin-bottom: 5px;
  }
  
  .contact-section li::before {
    content: "\2022";
    color: #ff6f61;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }