h1 {
    text-align: center;
    margin-left: 5rem;
    font-size: 40px;

    @media screen and (max-width: 768px) {
        margin-left: 0;
        font-size: 30px;
    }
}


.logo-img {
    width: 9rem;
    height: auto;
    margin-left: 5rem;

    @media screen and (max-width: 768px) {
        margin-left: 0;
        width: 6rem;
    }
}