.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 15px;
    margin-bottom: auto;
}

.footer-contact,
.footer-location,
.footer-hours {
    display: inline;
    padding: 10px;
    margin-bottom: 5px;
}